{% extends 'profile/home-with-profile.html' %}
{% load static %}

{% block content %}
<div class="body">
    <h1>Your Profile</h1>
    <div class="expenses-container">
        <div class="expense-container">
            <h2>{{ profile.first_name }} {{ profile.last_name }}</h2>
            {% if profile.profile_image %}
                <img src="{{ profile.profile_image.url }}" alt="profile pic">
            {% else %}
                <img src="{% static 'images/user.png' %}" alt="profile pic">
            {% endif %}
            <p>Total Items Bought: {{ count_expenses }}</p>
            <p>Budget Left: {{ money_left|floatformat:2 }}$</p>
            <div class="right">
                <a class="button edit" href="{% url 'edit profile' %}">Edit Profile</a>
                <a class="button delete" href="{% url 'delete profile' %}">Delete Profile</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}