{% extends 'base/index.html' %}
{% load static %}

{% block content %}
    <section id="car-details">
        <h1>Profile Details</h1>
        <div class="info-section">
            <div class="car-header">
               {% if not profile.image_url %}
                    <img class="car-img" src="{% static '/images/default-profile.png' %}" alt='profile-image'/>
               {% else %}
                    <img class="car-img" src="{{ profile.image_url }}" alt='profile-image'/>
                {% endif %}
                {% if profile.first_name or profile.last_name %}
                    <h1>{{ profile.first_name }} {{ profile.last_name }}</h1>
                {% endif %}
                <p class="description">Username: {{ profile.username }}</p>
                <p class="description">Email: {{ profile.email }}</p>
                <p class="description">Age: {{ profile.age }}</p>
                <p class="description">Total price: {{ all_cars_sum|floatformat:3 }}</p>
                <div class="buttons">
                    <a href="{% url 'profile edit' %}" class="edit-button">Edit</a>
                    <a href="{% url 'profile delete' %}" class="delete-button">Delete</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}